# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://social-backend.bijancob.io.vn
API_BASE_URL=https://social-backend.bijancob.io.vn

# Domain Configuration
NEXT_PUBLIC_DOMAIN_URL=https://your-domain.com
DOMAIN_URL=https://your-domain.com

# Environment
NODE_ENV=development
